---
import { Image } from "astro:assets";
import Default from "../layouts/Default.astro";
import Favicon from "../../public/favicon.svg";
import Card from "../components/Card.astro";
---

<Default>
  <div
    class="p-7 container sticky -top-1 left-0 bg-neutral-900/70 backdrop-blur"
  >
    <Image src={Favicon} alt="SwiftVPN" width={32} />
  </div>

  <div class="container px-7 py-24 flex items-center justify-center">
    <div class="space-y-5 text-center flex flex-col items-center">
      <div class="text-5xl font-light">Ваш личный 🛡️ VPN</div>
      <div>
        Подключайтесь к <span class="font-tiny">SWIFTVPN</span> в Telegram.
        <br />
        Всего 1₽
      </div>
      <br />
      <div>
        <a
          href="https://t.me/mySwiftVPN_bot"
          class="bg-white text-neutral-900 px-6 py-3 rounded-lg font-tiny"
        >
          ПЕРЕЙТИ
        </a>
      </div>
    </div>
  </div>

  <div class="container p-7">
    <div
      class="p-7 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-7 bg-neutral-800 rounded-xl"
    >
      <Card
        icon="tabler:shield-lock"
        title="Безопасный."
        text="Наш VPN работает на Jigsaw — технологии от Google."
      />
      <Card
        icon="tabler:shopping-bag-heart"
        title="Пробный период."
        text="Вы можете попробовать наш VPN всего за 1₽."
      />
      <Card
        icon="tabler:brand-speedtest"
        title="Высокая скорость."
        text="Мы используем первоклассное оборудование."
      />
      <Card
        icon="tabler:device-laptop"
        title="Работает на всех платформах."
        text="IOS, Android, Windows, macOS, Linux."
      />
      <Card
        icon="tabler:user-bolt"
        title="Личный."
        text="Каждый пользователь получает свой уникальный ключ."
      />
    </div>
  </div>

  <div class="container p-7">
    <div class="text-center p-16 text-3xl">
      Получите доступ всего за минуту 👇
    </div>
    <div class="grid gap-7 lg:grid-cols-3">
      <div
        class="rounded-xl p-9 space-y-3 border border-neutral-700 bg-neutral-800 col-span-full"
      >
        <div class="text-3xl font-semibold">Попробуйте за 1₽</div>
        <div class="text-neutral-400">
          Доступ ко всем функциям на месяц всего за рубль!
        </div>
        <br />
        <div>
          <a
            href="https://t.me/mySwiftVPN_bot"
            class="bg-white text-neutral-900 px-6 py-3 rounded-lg font-tiny"
          >
            ПОПРОБОВАТЬ
          </a>
        </div>
      </div>
      <div class="col-span-full"></div>
      <div class="rounded-xl p-9 space-y-5 border border-neutral-700">
        <div class="text-lg font-semibold">1 месяц</div>
        <div class="text-5xl">149₽</div>
        <br />
        <div>
          <a
            href="https://t.me/mySwiftVPN_bot"
            class="bg-white text-neutral-900 px-6 py-3 rounded-lg font-tiny"
          >
            ПЕРЕЙТИ
          </a>
        </div>
      </div>
      <div class="rounded-xl p-9 space-y-5 border border-neutral-700">
        <div class="text-lg font-semibold">6 месяцев</div>
        <div class="text-5xl">549₽ 🔥</div>
        <br />
        <div>
          <a
            href="https://t.me/mySwiftVPN_bot"
            class="bg-white text-neutral-900 px-6 py-3 rounded-lg font-tiny"
          >
            ПЕРЕЙТИ
          </a>
        </div>
      </div>
      <div class="rounded-xl p-9 space-y-5 border border-neutral-700">
        <div class="text-lg font-semibold">12 месяцев</div>
        <div class="text-5xl">1049₽</div>
        <br />
        <div>
          <a
            href="https://t.me/mySwiftVPN_bot"
            class="bg-white text-neutral-900 px-6 py-3 rounded-lg font-tiny"
          >
            ПЕРЕЙТИ
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container p-7 flex items-center justify-between text-sm text-neutral-400"
  >
    <div>
      © SwiftVPN, {new Date().toLocaleDateString("ru", { year: "numeric" })}
    </div>

    <div class="flex gap-3">
      <a
        href="https://telegra.ph/Dogovor-oferty-08-24"
        class="md:hover:underline">Договор оферты</a
      >
    </div>
  </div>
</Default>
