<div
  class="container p-7 flex items-center justify-between text-sm text-neutral-400"
>
  <div>
    © SwiftVPN, {new Date().toLocaleDateString("ru", { year: "numeric" })}
  </div>

  <div class="flex gap-3">
    <a href="https://telegra.ph/Dogovor-oferty-08-24" class="md:hover:underline"
      >Договор оферты</a
    >
  </div>
</div>
