---
import Favicon from "../../public/favicon.svg";
import { Image } from "astro:assets";
---

<div class="p-7 container sticky -top-1 left-0 bg-neutral-900/70 backdrop-blur">
  <Image src={Favicon} alt="SwiftVPN" width={32} />
</div>
