---
interface Props {
  title: string;
  price: number;
}
const { title, price }: Props = Astro.props;
---

<div
  x-data="{ isLow: false }"
  x-init="isLow = window.location.search == '?blackfriday'"
>
  <div class="flex justify-center" x-show="isLow">
    <div
      class="border-t border-x border-red-500 text-red-500 px-3 py-1 rounded-t-lg"
    >
      Черная пятница! -10%
    </div>
  </div>
  <div class="rounded-xl p-9 space-y-5 border border-neutral-700">
    <div class="text-lg font-semibold">{title}</div>
    <div class="text-5xl">
      <span
        :class="isLow ? 'line-through decoration-8 decoration-red-500' : ''"
      >
        {price}</span
      ><span x-show="isLow" class="text-red-500">
        {Math.floor(price * 0.9)}</span
      >₽
    </div>
    <br />
    <div>
      <a
        href="https://t.me/mySwiftVPN_bot"
        class="bg-white text-neutral-900 px-6 py-3 rounded-lg font-tiny"
      >
        ПЕРЕЙТИ
      </a>
    </div>
  </div>
</div>
