---
import "../styles/main.css";
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>SwiftVPN</title>
  </head>
  <body class="bg-neutral-900 text-white">
    <slot />
  </body>
</html>
